body {
    font-family: 'Prompt', sans-serif;
    display: flex;
}

.content {
    max-width: 800px;
    max-height: 400px;
    margin: auto;
    display: flex;
}

#box {
    width: 300px;
    height: 350px;
    padding: 15px;
    /* margin: 10px; */
    border: hsl(200, 50%, 70%) solid 10px;
}

.left_box {
    background: hsl(0, 0%, 100%);
    overflow-wrap: break-word;
}

.right_box {
    background: hsl(0, 0%, 100%);
    overflow-wrap: break-word;
    overflow: auto;
    
}