#navbar1 {
    background-color: #363636;
    position: fixed;
    top: 0;
    z-index: 1000;
    opacity: 0.8;
    width: 100%;
}

.card1{
    width: 100%;
    height: 1010px;
    border: 0;
    border-radius: 0%;
    padding: 0;
    opacity: 0.8;
    display: flex;
}

.card1 img {
    height: 100%;
    object-fit: cover;
    object-position: 100% 20%;
    border-radius: 0%;
    /* filter: blur(1px); */
}

body,html {
    font-family: gstatic;
    background-color: #202020;
    overflow-x: hidden;
}

.box1 {
    width: fit-content;
    padding-top: 70px;
    padding-left: 100px;
    z-index: 100000;
    position: absolute;
    -webkit-text-stroke: 0.3px #505050;
}

.card-img {
    filter: blur(4px);
}

#imgcard4 {
    object-position: 100% 60%;
}

.nav-item {
    font-size: 20px;
}


.contact {
    display: flex;
    width: 80px;
    height: 80px;
    z-index: 1000;
}

.contact a {
    width: 90px;
    padding-left: 10px;
    transition: all 0.3s;
}

.contact a :hover{
    scale: 1.1;
    transition: all 1s;
}

#info {
    padding-left: 65%;
    padding-top: 10%;
    width: fit-content;
    display: none;
}
#info h1{
    font-size: 35px;
    opacity: 0.6;
    background-color: #202020;
    transition: all 1s;
}
#moreinfo {
    font-size: 30px;
    width: 35%;
    /* transition: width 0.8s; */
}

#moreinfo:hover {
    font-size: 34px;
    transition: all 0.8s;
}

.skillcontainer {
    width: fit-content;
    height: 80px;
    display: flex;
    margin: 20px;
}

#frames img {
    height: 65px;
    margin-top: 10px;
    padding-right: 15px;
    padding-left: 5px;
}

.logic {
    margin-top: 20px;
}

#prog img {
    height: 70px;
    padding-right: 20px;
}

.container {
    background-color: #202020;
    padding: 10px;
    opacity: 0.8;
    border-radius: 10px;
}


.picgallry-con {
    position: absolute;
    width: 50%;
    border-radius: 0px;
    height: fit-content;
    max-height: 90%;
    margin-left: 50%;
    margin-top: 50px;

}

.picgallry {
    width: 100%;
    height: 100%;
    background-color: #505050;
    display: none;
    opacity: 1;
}

.showCon {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #505050;
    transition: all 1s;
}


@keyframes move {
    0% {transform: translateX(60px); opacity: 0; scale: 1.1;}
    100% {transform: translateX(0px); opacity: 1; scale: 1;}
}
.row img{
    width: 100%;
}

.row {
    margin-top: 20px;
}
#pic {
    opacity: 1;
    background-color: #303030
}

#pic1 {
    animation: move 0.1s linear alternate;
}
#pic2 {
    animation: move 0.15s linear alternate;
}
#pic3 {
    animation: move 0.2s linear alternate;
}
#pic4 {
    animation: move 0.25s linear alternate;
}
#pic5 {
    animation: move 0.3s linear alternate;
}
#pic6 {
    animation: move 0.2s linear alternate;
}
#pic7 {
    animation: move 0.25s linear alternate;
}
#pic8 {
    animation: move 0.3s linear alternate;
}

.head{
    animation: move 0.4s linear alternate;
}

.caption{
    animation: move 0.45s linear alternate;

}
